body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #0000001a;
}
.container {
  max-width: 98%;
}

#profile {
  background-color: white;
}

.dpdown {
  color: #000;
  padding-top: px;
  padding-right: 23px;
  font-size: 20px;
}

.dpdown1 {
  color: #000;
  margin-top: 13px;
  margin-right: 23px;
  font-size: 20px;
}

.mainpro{
  margin-top: -8px;
}

.dpdown1 :hover {
  color: #000;
  background-color: #ffffff;
  padding-top: 30px;
  padding-right: 23px;
  font-size: 20px;
  text-decoration: none;
}

.dpdown :hover {
 
  text-decoration: none;
}

.navbar {
  height: 60px;
  /* border-radius: 25px 0px 0px 0px;
 */}

.bellico {
  padding-top: 23px;
  padding-right: 23px;
}

.dropdownsam {
  position: absolute;
  top: 122%;
  left: -236px;
  right: 0;
  z-index: 1000;
  display: none;
  float: right;
  width: 321px;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 12px;
}

.dropdownsam2 {
  position: absolute;
  top: 122%;
  left: -100px;
  right: 0;
  z-index: 1000;
  display: none;
  float: right;
  width: 200px;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 12px;
}

.dropdownsam3 {
  position: absolute;
  top: 122%;
  left: -148px;
  right: 0;
  z-index: 1000;
  display: none;
  float: right;
  width: 200px;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 12px;
}



.card-header{
  background-color: none;
 
}

.lialign {
  padding-top: 8px;
  padding-right: 0px;
}

.btnnew {
  border: #ff4a33 solid 2px;
  border-radius: 20px;
  float: right;
  background-color: #ff4a33;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #43425d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.mb {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.mb:hover {
  background-color: #3c3b54;
  color: #f1f1f1;
  text-decoration: none;
  border-left: #a3a0fb solid 5px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 35px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.openbtn {
  font-size: 20px;
  border: 0px;
  color: rgb(0, 0, 0);
  background-color: none;
  margin-bottom: 0px;
  
}



#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

#parent {
  align-items: center;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}
.child {
  display: inline-block;
}



td{
  color: #4D4F5C;
  font-size: 14px;
}

th{
  opacity: 80%;
  font-size: 14px;
  color: #43425d;
  border: 0px;

}

.btn {
  background-color:  #6763E3;;
  color: white;
  border-radius: 6px;
}
.table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 0px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 0px solid #dee2e6;
}
.adh {
  font-family: "Hind Vadodara", sans-serif;
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}

.adp {
  opacity: 50%;
  font-size: 14px;
  color: #43425d;
  margin-top: 10px;
}

.column {
  float: left;
}

.plusof {
  margin-left: 10px;
  background-color: #514DDC;
  border: 2px solid #514DDC;
  border-radius: 50%;
}

.logo {
  font-size: 22px;
  color: #a4afb7;
  width: 30px;
  display: inline-block;
  margin: 10px;
}

.logo2 {
  width: 1000px;
  
}

.lf {
  opacity: 80%;
  font-size: 14px;
  color: #43425d;
}

.bf {
  font-size: 18px;
  color: #4d4f5c;
  font-weight: bold;
}

.dp {
  border: 0px;
  color: #4D4F5C;
  
}

.headt {
  font-size: 18px;
  color: #4D4F5C;
}

.headt2 {
  font-size: 14px;
  color: #4D4F5C;
}

.cardcss{
  border-radius: 12px; 
  
}

.icon-bar1{
  margin-top: -12px;
}
